.App {
  background-color: #14213d;
  min-height: 100vh;
}

.title {
  text-align: center;
  margin: 0;
  color: white;
}

.status {
  text-align: center;
  color: white;
}

.btn-container {
  text-align: center;
  margin-top: 20px;
}

.btn-capture {
  padding: 10px;
  background-color: #fca311;
  color: white;
  border: none;
  border-radius: 20px;
  margin: 20px;
}

.img-container {
  display: flex;
  justify-content: center;
}

.img-captured {
  max-height: 90vh;
  max-width: 90vw;
  margin: 20px;
}

.text-container {
  margin: 20px;
  color: white;
}

.btn-search {
  padding: 8px;
  background-color: #fca311;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
}
